<article class="blog-entry">
	<main class="row">
        <aside class="col flex-grow-0 d-none d-sm-block">
            <div class="blog-date">
                <span class="text-nowrap">{{blogentry.header.date | date("d M")}}</span>
                <span>{{blogentry.header.date | date("Y")}}</span>
            </div>
        </aside>
        <section class="col">
            <h3 class="blog-entry-title"><a href="{{blogentry.url}}">{{blogentry.title}}</a></h3>
            <div class="blog-meta">
                <span class="text-nowrap d-sm-none">{{blogentry.header.date | date("d M Y")}}</span>
                <span class="text-nowrap">{{blogentry.header.author}}</span>
            </div>
            <div class="blog-entry-content">
                {{blogentry.content}}
            </div>
        </section>
	</main>
</article>
