{% extends 'layout/default.html.twig' %}

{% block pageTitle %}{{ page.title }}{% endblock %}

{% block content %}
    <picture>
        {% set imgUrl = page.media[page.header.image].url %}
        <source srcset="{{ imgUrl }}">
        <img src="{{ imgUrl }}" alt="{{ page.title }}">
    </picture>
    <h2>{{ page.title }}</h2>
    {{ page.content }}
{% endblock %}
