{# TODO: implement card marks #}
<article class="card card-small {% if card.mark %}card-mark mark-{{card.mark.type}} {% if card.mark.addition %}{{card.mark.type}}-{{card.mark.addition}}{% endif %}{% endif %}">
    <header>
        <div class="card-image" style="background-image:url('{{page.media[page.header.image].url}}')"></div>
    </header>
    <main class="card-body">
        <a href="{{ page.url }}" class="remove-link-style">
            <h3>{{page.title}}</h3>
            <p>{{page.header.lead}}</p>
        </a>
    </main>
    <footer class="card-footer">
        <span class="card-date">{{page.header.publish_date | date('d.m.Y')}}</span>
        <span>&nbsp;-&nbsp;</span>
        <span class="card-author">
            {# TODO: replace with page data, find way to select user in backend #}
            <span class="author-full">Natalie Schumacher</span>
  			    <span class="author-initials">NS</span>
    		</span>
        <span class="card-social">
    			{% for social in page.header.social %}
              <a href="{{social.url}}" target="_blank"><i class="fab fa-{{social.network}}"></i></a>
          {% endfor %}
	      </span>
    </footer>
</article>
