<article class="card card-small {% if card.mark %}card-mark mark-{{card.mark.type}} {% if card.mark.addition %}{{card.mark.type}}-{{card.mark.addition}}{% endif %}{% endif %}">
	<header class="card-image">
		<div>
			<picture>
				<source srcset="{{card.img}}" />
				<img src="{{card.img}}" alt="{{card.title}}" />
			</picture>
		</div>
	</header>
	<main class="card-body">
		<h3>{{card.title}}</h3>
		<p>{{card.text}}</p>
	</main>
	<footer class="card-footer">
		<span class="card-date">{{card.date}}</span>
		<span>&nbsp;-&nbsp;</span>
		<span class="card-author">
			<span class="author-full">{{card.author}}</span>
			<span class="author-initials">{{card.initials}}</span>
		</span>
		<span class="card-social">
			{% for platform, url in card.social %}
				<a href="{{url}}" target="_blank"><i class="fab fa-{{platform}}"></i></a>
			{% endfor %}
		</span>
	</footer>
</article>
