{% set card = {
	title: 'Lorem Ipsum',
	img: 'https://i.etsystatic.com/13451746/r/il/bdbfc1/1530091232/il_570xN.1530091232_l615.jpg',
	text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.',
	author: 'Natalie Schumacher',
	initials: 'NS',
	date: '09.07.2018',
	social: {
		etsy: 'https://www.etsy.com/de/listing/621048453/liebe-bar?ref=shop_home_active_3',
		instagram: 'https://www.instagram.com/p/Bjaeux2gb6V/?taken-by=croggle'
	}
} %}

<article class="card card-small card-mark mark-sale sale-20">
	<header class="card-image">
		<div>
			<picture>
				<source srcset="{{card.img}}" />
				<img src="{{card.img}}" alt="{{card.title}}" />
			</picture>
		</div>
	</header>
	<main class="card-body">
		<h3>{{card.title}}</h3>
		<p>{{card.text}}</p>
	</main>
	<footer class="card-footer">
		<span class="card-date">{{card.date}}&nbsp;</span>
		<span class="card-author">
			<span class="author-full">{{card.author}}</span>
			<span class="author-initials">{{card.initials}}</span>
		</span>
		<span class="card-social">
			{% for platform, url in card.social %}
				<a href="{{url}}" target="_blank"><i class="fab fa-{{platform}}"></i></a>
			{% endfor %}
		</span>
	</footer>
</article>
